.lobGrayText {
  color: #888;
  text-decoration: inherit;
}

.lobLabel {
  align-items: center;
  border-bottom: 1px solid #DDDDDD;
  cursor: pointer;
  display: flex;
  font-size: 17px;
  padding: 16px;
  pointer-events: none;
}

.lobLabel > a {
  font-weight: 600;
  color: #0699D6;
  text-decoration: inherit;
}

.lobLabel > span {
  flex: 1;
  font-weight: 400;
  margin-left: 12px;
}

.lobLogo {
  height: .9em;
  margin-left: 1px;
  margin-top: 3px;
}

.logoLarge {
  height: 21px;
}
