name: NPM Publish
on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  id-token: write # Required for OIDC
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          registry-url: https://registry.npmjs.org

      - name: Install npm
        run: npm install -g npm@11.5.1

      - name: Install dependencies
        run: npm install

      - name: Publish to npm
        id: publish
        uses: JS-DevTools/npm-publish@v4
